.header-container {
    margin: 0px;
    display: flex;
}

.header-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header-container img{
    height: 50vh;
    justify-content: center;
}